@font-face{
    src:url("../Font/Cairo.ttf");
    font-family:"Cairo";
}

:root{
    --btn:#8B5CF6;
    --bg:#7C3AED;
    --FontClr:#ffffff;
    --blk1:#020617;
    --blk2:#18181B;
    --fnt:"Cairo";
}

*{
    margin: 0;
    padding: 0;
}

body{
  width: 100vw;  
  height: 100vh;
  overflow: hidden;
  font-family: var(--fnt);
  background: var(--blk2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_bar{
    width: 100%;
    height: 8%;
    background: var(--blk1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo{
   width: 10%; 
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}


.logoImg{
    width: 8em;
    height; 8em;
}

.nameShop{
    font-size: 2rem; 
    color: var(--FontClr);
    text-shadow: 0 0 30px #8B5CF6;
}

.list{
    width: 50%;
    margin-left: 20%;
}

.list ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 5%;
}

.list ul li{
    width: calc(100% / 5);
    height: 100%;
    border: 3px solid transparent;
    border-radius: 3px;
    padding: 1%;
    transition: 0.3s;
}


.list ul li a{
    text-decoration: none;
    outline: none;
    color: var(--FontClr);
    font-size: 1.2rem;
}

.list ul li:nth-child(5) a{
    color: var(--btn);
    scale: 1.2;
}

.list ul li:nth-child(5){
    border-bottom-color: #9E54FF;
}

.list ul li:hover a{
    transition: .3s;
    color: var(--btn);
}

.list ul li:hover{
    border-bottom-color: #9E54FF;
}

.shopping_cart{
   width: 10%;
}

.logo_shoppingCart{
    width: 80px;
    height: 100px;
}

.count_Product{
    position: absolute;
    right: 5%;
    top: 3%;
    width: 23px;
    height: 23px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--FontClr);
}

.hero{
    width: 95%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.description{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.description h2{
    color: var(--FontClr);
    font-size: 2.5rem;
}

.description h2 span{
    color: #9E54FF;
}

.description h3{
    color: var(--FontClr);
    font-size: 1rem;
    width: 60%;
}

.orderNow{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 50%;
   height: 30%;
   gap: 3%;
   margin-top: -20%;
}

.alotBtn{
    width: 60%;
    height: 42%;
    background: var(--FontClr);
    color: var(--blk1);
    border: 2px solid #9E54FF;
    border-radius: 15px;
    font-family: var(--fnt);
    font-weight: bold;
}

.orderNowBtn{
    width: 60%;
    height: 42%;
    background: #9E54FF;
    color: var(--FontClr);
    border-radius: 15px; 
    font-family: var(--fnt);
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

.orderNowBtn:active{
    transform: translateY(5px);
    scale: 0.95;
    opacity: 0.3;
}

.image_hero{
    width: 40%;
    height: 60%;
    left: -30%;
}

.image_hero img{
    position: relative;
    width: 370px;
    height: 370px;
    margin-top: -10%;
}

.amazing_foods{
    width: 95%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titleHead{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
}

.titleHead::before,
.titleHead::after{
    content: "";
    width: 80px;
    height: 2px;
    background: #8B5CF6;
    position: relative;
}

.titleHead::before{
    box-shadow: -90px 0 0 -6px #8B5CF6;
}

.titleHead::after{
    box-shadow: 90px 0 0 -6px #8B5CF6;
}


.products{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prouduct{
   width: 30%; 
   height: 80%;
   background: var(--blk1);
   box-shadow: 0 3px 5px #123;
   border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
   transition: 0.4s;
}

.prouduct:hover{
    transform: translateX(-5px);
}
.prouduct img{
    width: 75%;
    height: 40%;
}

.nameProduct{
    color: #fff;
}

.descriptionProduct{
    color: #fff;
    font-size: 0.7rem;
    width: 50%;
    text-align: center;
}

.prouduct b{
    width: 23%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.prouduct b b{
    color: #1BC054;
}

.prouduct b p{
    color: #FFF;
}


.addToCart{
   width: 60%; 
   height: 15%;
   background: var(--bg);
   border-radius: 10px;
   border: none;
   color: #fff;
   font-family: var(--fnt);
   font-size: 1rem;
   margin-top: 10px;
   transition: 0.3s;
   flex-shrink: 0;
}


.addToCart:active{
    transform: translateY(5px);
    scale: 0.95;
    opacity: 0.3;
}

.weekly_top{
    width: 95%;
    height: 28%;
}

.plusBuy{
    position: relative;
    left: ;
    top: 0px;
    color: #00D35D;
    font-family: Cairo;
    font-size: 0.8rem;
}


.footer{
    width:84%;
    padding:40px 8%;
    background:var(--blk1);
    border-top:1px solid rgba(139,92,246,.3);

    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:30px;
}

.footer_box{
    flex:1;
    min-width:220px;
}

.footer_box h3{
    color:var(--btn);
    margin-bottom:15px;
    font-size:22px;
}

.footer_box p{
    color:#cfcfcf;
    line-height:1.8;
}

.footer_box ul{
    list-style:none;
}

.footer_box ul li{
    margin-bottom:10px;
}

.footer_box ul li a{
    text-decoration:none;
    color:#cfcfcf;
    transition:.3s;
}

.footer_box ul li a:hover{
    color:var(--btn);
}

.copy_right{
    text-align:center;
    padding:15px;
    background:#020617;
    color:#aaa;
    font-size:14px;
}


